<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csi370.mobileprojectcsi370">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProjectCSI370">
        <activity
            android:name=".InspectScrollPopUpActivity"
            android:label="@string/title_activity_inspect_scroll"
            android:theme="@style/Theme.MobileProjectCSI370.NoActionBar" />
        <activity android:name=".CategoriesActivity" />
        <activity
            android:name=".OfficePCActivity"
            android:label="@string/title_activity_office_p_c"
            android:theme="@style/Theme.MobileProjectCSI370.NoActionBar" />
        <activity android:name=".AddToCartPopUpActivity" />
        <activity android:name=".ResetPassActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>